.HeaderDesign {
    margin: 0;
    padding: 0;
    height: 2em;

    background-color: cornflowerblue;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.HeaderDesign a {
    text-decoration: none;
    color: white;
  }

.HeaderDesign a:hover {
    color: #ffcc00; /* Cambia el color al pasar el ratón 
    sobre el enlace */
    border-bottom: 2px solid #ffcc00; /* Añade un subrayado al 
    pasar el ratón sobre el enlace */
}

.HeaderDesign a:active,
.HeaderDesign a.active {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
}