.HeaderDesign {
    margin: 0;
    padding: 0;
    height: 2em;

    

    background-color: cornflowerblue;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

body a {
    font-weight: 500;
    color: yellow;
    text-decoration: inherit;
  }